*{
   
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body {

    height: 100vh;
    background-color: antiquewhite;

}


.App {


    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);

}

.item-div{
     margin-bottom: 20px;
}

