
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#F1EEDC;
   
  
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 12px;
  background-color:#1679AB;
  position: relative;
 
 
}

h2 {
   text-align: center; 
   font-size: 40px;
   color : white;
   margin: 0px auto 20px 0px;
  
}


.selection {
   margin-bottom: 25px;
}

.selection label{
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  
}

#choose-difficutly {
  
   width: 100%;
   padding: 10px;
   font-size: 14px;
   font-weight: 500;
   outline: none;
   border-radius: 12px;
}
#choose-categories{
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  outline: none;
  border-radius: 12px;
}


.selecting-button{
  margin-top: 30px;
  text-align: center;
}

#starting-btn {
   
  width: 50%;
  padding: 12px;
  border:none;
  color:#1679AB;
  font-weight: 700;
  cursor: pointer;
  transition:background-color 0.5s ease;
  font-size :18px;
  border-radius: 10px;
  
}

#starting-btn:hover{
  background-color: #96dcff;
  color: white;
}


.hide {
  display: none;
}


.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.timer .progress-bar {
    
   height: 25px;
   width: 100%;
   background-color: white;
   overflow: hidden;
   
   border-radius: 30px;
   border: none;
   position: relative;
   
}

.timer .progress-bar  .progress-colour{

  height: 100%;
  width: 100%;

  overflow: hidden;
  background-color: #8CBA51;
  
  transition: 1s linear;


}

.timer .progress-bar .progress-txt {
  
  position: absolute;
  top :50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-weight: 600;
}


.score-div {
  display: flex;
  justify-content: flex-end;


}



#score-txt {
   font-size: 15px;
   font-weight: 900;
   padding: 5px;
   margin: 5px;
   border-radius: 6px;
   background-color: rgb(26, 102, 112);
   color: #E3FEF7;
}
#score-num{
  font-size: 22px;
  font-weight: 900; 
  padding: 5px;
  border-radius: 2px;
  background-color: #96dcff;
  color:#1b0067;

}


.question {
   
  margin-top: 10px;
  padding: 10px;


}

.question p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-style: normal;
  margin-bottom: 10px;

}

.answers .btn{
    
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border :3px solid #60e4f5 ;
  margin: 10px auto 20px auto;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  
}

.btn .correct {
   border-color : #65fa79;
}

.btn .wrong {
  border-color :#f29090;
}


.submit-total{
  display: flex; /* Make the child elements sit side-by-side */
  align-items: center; /* Vertically align content in the center */
  justify-content: space-between
}
.total-questions {
    
  font-weight: 700;
  font-size: 25px;

  font-weight: 900;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  background-color: rgb(26, 102, 112);
  color: #E3FEF7;

  
}



#btn-next{

  width: 30%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border:none;
  color:#1679AB;
  transition:background-color 0.5s ease;
 

  
}

#btn-next:hover{
  background-color: #96dcff;
  color: white;
}



.total-Score {
   
  padding: 20px;
  height: 30vh;
  border-radius: 5px;
 
  background-color: rgb(167, 251, 255);
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final-score {
  font-size: 30px;
  font-weight: 600;
  
}

.final-feedback{
  
  font-size: 20px;
  color: #031721;
  font-weight: 400;
}

.restart {
  display: flex;
  justify-content: center;
  
}



#restart-btn{
    
    width: 30%;
    padding: 10px;
    border:none;
    color:#1679AB;
    font-weight: 700;
    cursor: pointer;
    transition:background-color 0.5s ease;
    font-size :18px;
    border-radius: 10px;
}


#restart-btn:hover{
  background-color: #96dcff;
  color: white;
}










@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}








